<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://api.fontshare.com/v2/css?f[]=pally@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/output.css">
   
    <title>Crear producto</title>
</head>
<body style="background-image: url(oreo\ difinitivo_page-0011.jpg);">
    <nav class="fixed top-0 right-0 left-0 h-16 bg-[#374327] rounded-b-3xl flex items-center justify-center">
        <div>
            <a href="/inicio/" class="font-['Pally'] text-white text-3xl font-bold">Oreo_tohari_Admin</a>
        </div>
    </nav>

    <!-- component -->
<div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2 outline-4">
        <div class="bg-transparent px-6 py-8 rounded shadow-2xl text-black w-full  shadow-[#374327] backdrop-blur-sm">
            <h1 class="mb-8 text-3xl text-center font-['Pally'] font-bold text-white">Crear producto</h1>
            <form id="formulario">

                <input 
                    type="text"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    id="name-product"
                    placeholder="Nombre del producto" />
    
                <input 
                    type="text"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    id="descripcion"
                    placeholder="Descripcion del producto" />
    
                <input 
                    type="Precio"
                    class="block border border-grey-light w-full p-3 rounded mb-4"
                    id="precio"
                    placeholder="Precio del producto" />
                <input 
                    type="file"
                    class="block border border-grey-light w-full p-3 rounded-xl mb-4"
                    id="foto"
                    placeholder="Subir foto" />
    
                <button
                    type="submit"
                    id="submit-btn"
                    class="w-full text-center py-3 rounded bg-green text-white  my-1 outline-4 bg-[#374327] font-['Pally'] font-bold text-xl hover:bg-[#202717]" 
                >Crear producto</button>
            </form>

        </div>

      
    </div>
</div>
</body>
<script src="index.js"></script>
</html>