<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://api.fontshare.com/v2/css?f[]=pally@400&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Oreo_Tohari</title>
</head>
<body style="background-image: url(oreo\ difinitivo_page-0011.jpg);">
    <nav class="bg-[#374327] overflow-hidden fixed top-0 w-full rounded-b-3xl">
        <div class="mx-auto max-w-7xl px-2">
          <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center ">
              <!-- Mobile menu button-->
              <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10 text-white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                </svg>
                
            </div>
            <div class="flex flex-1 items-center justify-center">
              <div class="flex flex-shrink-0 items-center">
                <p class="font-['Pally'] text-5xl text-white sm:text-5xl font-extrabold">Oreo Tohari</p>
              </div>
              <div class=" sm:ml-6 sm:block">
                <div class="flex space-x-4">
                </div>
              </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                
              </button>
              <!-- Profile dropdown -->
              <div class="relative ml-3">
                <div>
                  <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">Open user menu</span>
                    <img class="h-10 w-10 rounded-full" src="luis-miguel-40anos-12-4f9e84179f5f4e3da2dca2c2491ef1f8.jpg" alt="">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>
      </nav>
      <div class="mt-20 flex justify-center">
        <div class="w-11/12 h-[29rem] bg-[#cadbb7] rounded-t-3xl rounded-b-3xl font-['Pally']">
          <p class="text-center font-bold text-lg">TEJIDOS HECHO A MANO <br>
             CON MUCHO AMOR <3 </p>
              <img class="rounded-3xl p-5" src="https://placehold.co/500x300" alt="">
              <div class=" flex items-center justify-center">
                    <div class="grid grid-cols-2 gap-9">
                        <div class="w-28 h-8 bg-[#485935] text-[#cadbb7] rounded-full flex items-center p-4">Peluches</div>
                        <div class="w-28 h-8 bg-[#485935] text-[#cadbb7] rounded-full flex items-center p-4">Tejidos</div>
                        <div class="w-28 h-8 bg-[#485935] text-[#cadbb7] rounded-full flex items-center p-4">Amigurumis</div>
                        <div class="w-28 h-8 bg-[#485935] text-[#cadbb7] rounded-full flex items-center p-4">Crochet</div>
                   </div>
              </div>
        </div>
      </div>
      <section class="mt-8">
        <div class="bg-[#485935] font-['Pally']">
          <div class="h-60 flex p-4">
            <div class="flex flex-col">
              <p class="text-[#cadbb7] text-4xl font-extrabold">Me alegro<br>
                de conocerte
                </p>
                <p class="text-[#cadbb7] text-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste deleniti temporibus debitis, </p>
            </div>
            <img class="rounded-full h-5/6" src="https://placehold.co/200x200" alt="">
          </div>
        </div>
      </section>
</body>
</html>